:root {
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0, 0, 07);
    --bg-search-color: #242424;
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #b3b3b3;
    --color-power-gray: #121212;
    --color-rose: #af2896;
    --color-blue: #509bf5;
}